/* Reset border box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos para el login */
body.index {
    margin: 0;
    padding: 0;
    background-color: #393533;
}

p.title {
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    padding: 5px;
}


p.username {
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #7c7978;
    padding: 5px;
}

p.password {
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #7c7978;
    padding: 5px;
}

input.usr {
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #757271;
    width: 272px;
}


input.pass {
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #757271;
    width: 272px;
}

input.login-btn {
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #3e935b;
    border: unset;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
    width: 81px;
    height: 37px;
}

a.forgot {
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px;
    width: 128px;
    height: 19px;
}
/* Fin de los estilos para el login */
